
# Miscellaneous
*.class
*.db
*.jar
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
!/build/app/outputs/flutter-apk/
!/build/app/outputs/flutter-apk/app-release.apk

# Android
android/key.properties
*.jks

# iOS
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/Pods/
ios/Podfile.lock
.ios/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Windows
windows/flutter/ephemeral/
windows/CMakeLists.txt.user
windows/INSTALL.vcxproj.filters
windows/ALL_BUILD.vcxproj.filters
windows/flutter/flutter_wrapper_app.vcxproj.filters
windows/flutter/flutter_wrapper_plugin.vcxproj.filters
windows/runner/INSTALL.vcxproj.filters
windows/runner/ALL_BUILD.vcxproj.filters
windows/runner/Runner.vcxproj.filters
windows/.vs/
/windows/x64/

# Linux
linux/flutter/ephemeral/
/linux/ephemeral/
/linux/CMakeLists.txt.user
/linux/compile_commands.json
lib/services/ai_logic.dart
